* {
    box-sizing: border-box;
}

html,
body,
#root {
    min-height: 100%;
}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    background: #03172f;
    color: #ffffff;
}

button,
input {
    font-family: inherit;
}